<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{template1}">
<head>
<meta charset="utf-8" />
<title>403</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}" />

</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card border-info mb-3">
						<div class="card-header card text-white bg-info mb-3">
							<div class="card-title">Problème d'autorisation</div>
						</div>
						<div class="card-body">
							<div>Vous n'avez pas les le droit d'acceder à cetteressource</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>